*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    color: red;
}
main{
    text-align: center;
}
img{
    border-radius: 10px;
    
}
footer{
    background-color: aqua;
    text-align: center;
}
